/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}

.container {
  width: 45%;
  height: 60%;
}

.center-block {
  display: flex; /* put phone and content next to eachother*/  
  margin-bottom: 2em;;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-left: 2em; 
}

header {
  flex: 1 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.text-block { 
  background: no-repeat 120% center url("../images/frame.png");
  border-radius: 3px;
  color: #6E6F6F;
  flex: 3 0 0;
  align-content:stretch;
  padding: 0.3em 1.5em 2em 2em;   
}

h1 {
  color:#06365f;
  font-size:x-large;
}

.button-block {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  gap:2em;

}

footer {
  color:#1c5380;
  font-size:0.8em;
  font-weight: bold;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  gap: 1em
}

footer emp {
  color: #C3C3C4;
}

.login-btnn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  width: 7em;
  height: 3em;
  font: bold 14px/1.5 Arial;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border: solid #325E84 0.5px;
  background-image: linear-gradient(#7e9eB9, #457298);  
}